<%- include ('partials/header'); -%>

<div class="ui main ext container segment">
    <div class="ui huge header"><%= blog.title%></div>
    <div class="ui top attached">
        <div class="items">
                <img class="ui centred rounded image"src="<%=blog.image%>">
                <div class="content">
                    <span><%= blog.created.toDateString()%></span>
                </div>
                <div class="description">
                         <p><%-blog.body%></p>  <!--take blog.body as html -->
                </div>
        </div>
    </div>
    
   
</div>

<%- include ('partials/footer'); -%>